@font-face {
  font-family: CircularStd-Book;
  src:url(../../../static/assets/fonts/CircularStd-Book.otf);
}

html {
  position: relative;
  min-width: 320px;
  font-size: 62.5%;  // 10px --other units relative to this in rem 1.4rem =14px
}

body{
	margin-top: 3rem;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.loaderContainer{
	padding-left: 40%;
	padding-top: 3.5rem;
}

.displayNone{
	display: none;
}

.loader {
  border: 1rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid #555;
  width: 12rem;
  height: 12rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container{
	height: 100%;
	border: solid 2px #e4e4e4;
	border-radius:4px;
	padding: 3rem;
}

.removeMargin{
	margin: 0px !important;
}

.mainTitleDiv{
	padding: 1.5rem;
	text-align: center;
	font-size: 2.4rem;
	font-family: CircularStd-Book;
	border: solid 1px #fee799;
	border-radius: 15px;
	background-color: #fee799;
}

.mt-20{
	margin-top: 2rem !important;
}

.data-container{
	border: 1px solid #ddd;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 15px; 
	border-top:none;
}

.inputBox{
	border: 2px solid #eee;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
	height: 100%;
}

.inputBoxTitle{
	text-align: center;
	font-size: 1.8rem;
}

.flexBox{
	width: 100%;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	-webkit-display: -webkit-box;
	-webkit-display: -webkit-flex;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.flex-item{
  flex:1 1 ;
}