{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome Home {% endblock %}</title>
</head>

<body>

{% block pagecontent %}

<div class="row removeMargin mainTitleDiv">Bacon number - Bollywood ish-tyle</div>

<div class="row removeMargin">

  <ul class="nav nav-tabs mt-20">
    <li class="active"><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About this site</a></li>
  </ul>

</div>


<div class="data-container flexBox row removeMargin">
  <div class="col-sm-4 flex-item">
     <div class="inputBox">
      <div class="inputBoxTitle">Get the connection between :</div>
      <form action="/v1/shortest-path/" method="get" target="_blank">
        <div class="form-group">
          <label>Actor one : </label>
          <input class="form-control" type="text" name="name_one">
        </div>
        <div class="form-group">
          <label>Actor two : </label>
          <input class="form-control" type="text" name="name_two">
        </div>
        <input type="submit" class="btn btn-primary" value="Excelsior!">
      </form>
    </div>
  </div>
  <div class="col-sm-4 flex-item flex-item">
   
    <div class="inputBox">
      <div class="inputBoxTitle">Get the co-actors of :</div>
      <form action="/v1/degree-centrality/" method="get" target="_blank">
        <div class="form-group">
          <label>Actor name : </label>
          <input class="form-control" type="text" name="name_one">
        </div>
          <input type="submit" class="btn btn-primary" value="Excelsior!">
      </form>
    </div>
   
  </div>
  <div class="col-sm-4 flex-item">
   <div class="inputBox">
      <div class="inputBoxTitle">Get actors of a movie :</div>
      <form action="/v1/movie/actors/" method="get" target="_blank">
        <div class="form-group">
          <label>Movie name : </label>
          <input class="form-control" type="text" name="name_one">
        </div>
        <input type="submit" class="btn btn-primary" value="Excelsior!">
      </form>
    </div>
    </div>
</div>
{% endblock %}
</body>
</html>